<!DOCTYPE html>
<html>
  <head>
    <title>CBT ideas forum</title>
  </head>
  <body>
    IDEAS
    <% for (const scriptPath of scripts) { %>
    <script src="<%= scriptPath %>"></script>
    <% } %>
  </body>
</html>
